@import "current_theme.css";

/*
*   General
*/
* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
}

/*
*   Bar
*/
window#waybar {
    background-color: @base;
    color: @lavender;
}

tooltip {
    background-color: @base;
    border: 2px solid @lavender;
}

/*
*   Hyperland workspaces
*/
#workspaces button{
    color: @overlay0;
}

#workspaces button.visible {
    color: @lavender;
}

/*
*   clock
*/
#clock {
    margin:3px;
}


/*
*   Info
*
*   first the general apperance is defined, afterwards the individual settings
*/

#pulseaudio, #backlight, #battery, #cpu, #memory {
    background-color: @crust;
    border: @lavender solid 2px;
    border-radius: 5px;
    /* to adjust rounding 3px left and right, and no padding top bottom */
    padding: 0px 3px;
    margin:3px;
}

#battery {
    /* line up with hyprland windows */
    margin-right: 6px;
}
#battery.critical {
    color: @red;
    border-color: @red;
    background: @red_10;
}
#battery.charging {
    color: @green;
    border-color: @green;
    background: @green_10;
}
