@import "macchiato.css";

/*
*   General
*/
* {
    font-family: Jetbrains Mono Nerd Font;
}

/*
*   Bar
*/
window#waybar {
    background-color: @crust;
    color: @lavender;
}

/*
*   Hyperland workspaces
*/
#workspaces button{
    color: @overlay0;
}

#workspaces button.visible {
    color: @lavender;
}

/*
*   clock
*/
#clock {
    margin:3px;
}


/*
*   Info
*
*   first the general apperance is defined, afterwards the individual settings
*/
#backlight, #battery, #cpu, #memory {
    background-color: @surface0;
}

#backlight {
    padding-right: 5px;
    padding-left: 8px; /* +3px to adjust rounding */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#battery {
    padding-right: 8px; /* +3px to adjust rounding */
    padding-left: 5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#cpu {
    padding-right: 5px;
    padding-left: 5px;
}

#memory {
    padding-right: 5px;
    padding-left: 5px;
}

