@import "macchiato.css";

/*
*   General
*/
* {
    font-family: FontAwesome;
}

/*
*   Bar
*/
window#waybar {
    background-color: @crust;
    color: @lavender;
}

/*
*   Hyperland workspaces
*/
#workspaces button{
    color: @overlay0;
}

#workspaces button.visible {
    color: @lavender;
}

/*
*   clock
*/
#clock {
    margin:3px;
}


/*
*   Info
*/
#backlight, #battery, #cpu, #memory {
    margin:3px;
    padding:1px 8px 1px 2px;
    border: 2px solid @lavender;
    border-radius: 7px;
}

